<div class="max-w-sm rounded-lg shadow-lg bg-white border-gray-700 flex flex-col">
    <img class="rounded-t-lg w-full h-48 object-cover" src="images/cat.jpg" alt="" />

    <div class="p-5 flex flex-col flex-1">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-800">
            {{ project.title }}
        </h5>
        <p class="mb-3 font-normal text-gray-800 flex-1 overflow-y-auto max-h-32">
            {{ project.description }}
        </p>
        {% if project.urlGithub is not empty %}
            <div class="flex mb-2">
                <i class="fab fa-github mt-1.5 mr-2"></i>
                <a class="font-normal text-blue-800" href="{{ project.urlGithub }}" target="_blank">{{ project.urlGithub }}</a>
            </div>
        {% endif %}
        {% if project.url is not empty %}
            <div class="flex mb-2">
                <i class="fa-solid fa-earth-europe mt-1.5 mr-2"></i>
                <a class="font-normal text-blue-800" href="{{ project.url }}" target="_blank">{{ project.url }}</a>
            </div>
        {% endif %}

        <div class="flex justify-end">
            <button 
                class="edit-btn block p-2 mr-2 text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm text-center"
                data-id="{{ project.id }}"
                type="button">
                <i class="fa-solid fa-edit"></i>
            </button>
            <button 
                class="delete-btn block p-2 text-white bg-red-600 hover:bg-red-700 font-medium rounded-lg text-sm text-center"
                data-id="{{ project.id }}"
                type="button">
                <i class="fa-solid fa-trash"></i>
            </button>
        </div>
    </div>
</div>
